---
pagination:
    data: issues
    size: 1
    alias: issue
permalink: "issue/{{ issue.number }}.html"
homeLink: '../../'
layout: layouts/default.njk
---
{% include 'header.njk' %}
<main >
  <h1>{{issue.title}}</h1>
  <div class="issue">
    <div class="frontmatter">
      <div>
        <p><strong>Issue number</strong> {{issue.number}}</p>
        <p><strong>{{issue.user.login}}</strong> opened this issue on {{issue.created_at | ghdate}}</p>
        {% if issue.labels.length %}
          <p><strong>Labels </strong>{% for label in issue.labels %}
            <span class="label"><a href="../../label/{{label.id}}.html">{{label.name}}</a></span>
          {% endfor %}</p>
          {% endif %}
        </div>
        <div>
          <a class="github-link" href="https://github.com/COVID19Tracking/issues/issues/{{issue.number}}" target="_blank">Open in Github</a>
        </div>
      </div>
      <div class="body">
        {{issue.body | ghimage | markdown | safe}}
      </div>
    </div>
    {% if issue.comments.length %}
      <h2>Comments</h2>
      {% for comment in issue.comments %}
        <div class="comment" id="issuecomment-{{comment.id}}">
          <div class="frontmatter">
            <div><strong>{{comment.user.login}}</strong> commented on {{comment.created_at | ghdate}}</div>
            <div><a class="github-link" href="https://github.com/COVID19Tracking/issues/issues/{{issue.number}}#issuecomment-{{comment.id}}" target="_blank">Open in Github</a></div>
          </div>
          <div class="body">
          {{comment.body | ghimage | markdown | safe}}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  
</main>