---
pagination:
    data: issues
    size: 1
    alias: issue
permalink: "issue/{{ issue.number }}.html"
homeLink: '../index.html'
layout: layouts/default.njk
---
{% include 'header.njk' %}
<main >
  <h1>{{issue.title}}</h1>
  <div class="issue">
    <div class="frontmatter">
      <div>
        <p>
          <strong>Issue number</strong>
          {{issue.number}}</p>
        <p>
          <strong>{{issue.user.login}}</strong> opened this issue on {{issue.created_at | ghdate}}</p>
        {% if issue.labels.length %}
          <p>
            <strong>Labels </strong>
            {% for label in issue.labels %}
              <span class="label">
                <a href="../label/{{label.id}}.html">{{label.name}}</a>
              </span>
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div>
        <a class="github-link" href="{{issue.html_url}}" target="_blank">Open in Github</a>
      </div>
    </div>
    <div class="body">
      
      {% if issue.body %}
        {{issue.body | ghimage | markdown | ghuser | safe}}
      {% else %}
        {{""}}
      {% endif %}
    </div>
    </div>
  </div>
  {% if issue.timeline.length %}
    {% for history in issue.timeline %}
      {% if history.event === "commented" %}
        <div class="comment" id="issuecomment-{{history.id}}">
          <div class="frontmatter">
            <div>
              <strong>{{history.user.login}}</strong> commented on {{history.created_at | ghdate}}</div>
            <div>
              <a class="github-link" href="{{issue.html_url}}#issuecomment-{{history.id}}" target="_blank">Open in Github</a>
            </div>
          </div>
          <div class="body">
            {{history.body | ghimage | markdown | ghuser | safe}}
          </div>
        </div>
      {% else %}
        <div class="event">
          {%if history.event === 'locked' %}
            <strong>{{history.actor.login}}</strong> locked this on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'labeled' %}
            <strong>{{history.actor.login}}</strong> added the label <span class="label">{{history.label.name}}</span> on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'unlabeled' %}
            <strong>{{history.actor.login}}</strong> removed the label <span class="label">{{history.label.name}}</span> on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'reopened' %}
            <strong>{{history.actor.login}}</strong> reopened this on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'closed' %}
            <strong>{{history.actor.login}}</strong> closed the issue on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'head_ref_deleted' %}
            <strong>{{history.actor.login}}</strong> deleted the branch on {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'committed' %}
            <strong>{{history.author.name}}</strong> committed <a href="{{history.html_url}}">{{history.message}}</a> at {{history.author.date | ghdate}}
          {% endif %}
          {%if history.event === 'review_requested' %}
            <strong>{{history.review_requester.login}}</strong> requested a review from <strong>{{history.requested_reviewer.login}}</strong> at {{history.created_at | ghdate}}
          {% endif %}
          {%if history.event === 'reviewed' %}
            <strong>{{history.user.login}}</strong> reviewed the pull request ("{{history.body}}") at {{history.submitted_at | ghdate}}
          {% endif %}
          {%if history.event === 'merged' %}
            <strong>{{history.actor.login}}</strong> merged the branch at {{history.created_at | ghdate}}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

</main>
